.cover {
  background-image: url(../../images/cover/__background-trains.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;

  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
