.place__paragrapgh-containter {
  grid-column: 2/2;
  grid-row: 2/2;
  align-content: end;
  width: 100%;
  margin: 0 0 0 0;
}



@media screen and (max-width: 768px) {
  .place__paragrapgh-containter {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .place__paragrapgh-containter  {
  max-width: 90%;
  order: 4;
  }
}

@media screen and (max-width: 320px) {
  .place__paragrapgh-containter  {
  max-width: 288px;
  }
}
